<!DOCTYPE html>
<html lang="en" ng-app="myapp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular JS</title>
</head>
<body>
    <div ng-controller="MyCtrl">
       {{title}}
       <input type="text" ng-model="title">
       <button ng-click="sayHi()">Click</button>

       <table>
         <thead>
             <tr>
            <th>Name</th>
            <th>Department</th>
            <th>DOB</th>
             </tr>
         </thead>       
         <tbody>
             <tr ng-repeat="st in students">
             <td>{{st.name}}</td>
             <td>{{st.department}}</td>
             <td>{{st.dob}}</td>
             <td>
                <button ng-click="onStundentSelect(st)">View</button> 
             </td>             
             </tr>
           
         </tbody>
       </table>
     <div id="student-details" ng-if="selectedStudent">
        Selected student is {{selectedStudent.name}}
     </div>
    </div>

    <div ng-controller="MyCtrlImg">
        <button ng-click="decreaseIndex()"><</button>
        <img height="400" width="400" ng-src="{{imgList[index]}}" alt="">
        <button ng-clik="increaseIndex()">></button>
    </div>
            
    
    <script src="angular.js"></script>
    <script src="app.js"></script>
</body>
</html>